@use '../global/variables' as *;
@use '../global/mixins' as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 47.5%;
  scroll-behavior: smooth;
 

  @include respond(tab-port) {
    font-size: 50%;
  }

  @include respond(tab-land) {
    font-size: 56.2%;
  }
}

body {
  position: fixed;
  font-family: 'Josefin Sans';
  font-size: 2rem;
  width: 100%;
  height: 100%;
  font-family: 'Josefin Sans';
  background: url('/assets/Img/bgHome.jpg') no-repeat;
  background-position: 50%;
  background-size: cover;
  z-index: -1;
  overflow: hidden;

  &::after {
    content: '';
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      to bottom,
      rgba(#1d0101, 0.3) 60%,
      rgba(#000000, 0.5) 70%,
      rgba(#000000, 0.7) 90%
    );
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
